
.root{
	-fx-background-color: #E8EEF1;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
   	-fx-text-alignment:center;
    -fx-background-repeat: no-repeat;  
    -fx-background-size: 500 500; 
    -fx-background-position: center center;
    -fx-background-image: url("/styles/images/BG.jpg");
    -fx-background-size: cover;
}
/*first grid */
.GridPane{
    -fx-background-color:#f6f5f5;
    -fx-effect: dropshadow( gaussian , #babfc2, 25, 0, 0, 0 );
    -fx-background-radius: 15;
}
/*for grid in grid */
.GridPaneChild {
    -fx-background-color:#ffffff;
    -fx-effect: dropshadow(gaussian , #d5d5d5, 25, 0, 0, 0 );
    -fx-background-radius:15;
}
.Label {
	-fx-text-fill: #1E3D58;
	-fx-font-size: 13pt;
}
.Label-list {
	-fx-text-fill: #1E3D58;
	-fx-font-size: 10pt;
}
.TextField {
	-fx-background-radius:15;
	-fx-background-color:#f6f5f5;
}
.LabelTitel{
	-fx-font-family: "Calibri";
     -fx-font-weight: bold;
   -fx-text-alignment:center;
   -fx-text-fill:#057DCD;
   -fx-font-size: 20pt;
   -fx-label-padding: 20 20 5 20;
 
}

/* header */
#headerBar {
    -fx-background-color:#ffffff;
    -fx-effect: dropshadow(gaussian , #d5d5d5, 25, 0, 0, 0 );
    -fx-background-radius: 0 0 15 15;
}
/* --------------------------------------catalog------------------------------------------- */
#catalogScrollpane {
    -fx-background-color: linear-gradient(#f6f5f5 20%, #ffffff 60%);

}

.viewport {  
    -fx-background-color: rgba(255, 0, 0, 0.000000001);
 }

/*---------------------------------------buttons--------------------------------------------------- */
.Button{
	-fx-background-color:  #50b7f3;
    -fx-effect: dropshadow( gaussian , #acaaaa , 10, 0, 0, 0 );
	-fx-background-radius: 10;
	-fx-text-fill:#FFFFFF;
	-fx-font-size: 15pt;
    cursor: pointer;
}

.Button:pressed:hover {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

.Button:hover {
    -fx-background-color: #64c6ff;
}

.ButtonLogOut{
	-fx-background-color:  #FF9414;
    -fx-effect: dropshadow( gaussian , #acaaaa , 10 , 0, 0, 0 );
	-fx-background-radius: 10;
	-fx-text-fill:#FFFFFF;
	-fx-font-size: 15pt;
    cursor: pointer;
   
}

.ButtonLogOut:pressed:hover {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

.ButtonLogOut:hover {
    -fx-background-color: #ffab45;
}


.Button:Text {
    -fx-fill: white;
	/* -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 ); */
}

.Button-return{
	 -fx-background-color:transparent;
	 
}
.Button-NoBG{
	 -fx-background-color:transparent;
}
/*report icon btn */
.Button-report:hover{
    -fx-background-color:transparent;
    -fx-border-color:#1E3D58;
    -fx-border-radius:15;
}

.button-Report:focused {
    -fx-border-color: transparent, white;
    -fx-background-color:transparent;
    -fx-border-color:#1E3D58;
    -fx-border-radius:15;
}

.button-Report:pressed {
    -fx-background-color: white;
}
.button-AddToCart{
	-fx-border-radius:15;
	-fx-effect: dropshadow( gaussian , #acaaaa , 10 , 0, 0, 0 );
	-fx-background-color:white;
	-fx-text-fill: gray;
	
}
.button-AddToCart:hover{
	-fx-border-radius:15;
	-fx-effect: dropshadow( gaussian , #acaaaa , 10 , 0, 0, 0 );
	-fx-background-color:#43B0F1;
	-fx-text-fill: white;
	
}


/*------------------------------------------------ combo box----------------------------------------------------------- */
.ComboBox{
	-fx-text-base-color: #FFFFFF;
		-fx-font-size: 14pt;	
}
.combo-box .arrow{
    -fx-background-color:#FFFFFF;
}
.combo-box .arrow-button{
    -fx-background-color:#43B0F1;
    -fx-border-style:none;
}

.combo-box .list-cell{
    -fx-background-color:#43B0F1;
   -fx-text-alignment:center;
}
.combo-box .arrow-button:hover{
    -fx-background-color:#057DCD;
    -fx-border-style:none;
}

.combo-box:hover{
    -fx-background-color:#057DCD;
}

