.root{
	
-fx-background-color: #CBF3F0;
-fx-text-fill: white;
-fx-alignment: CENTER;
}
.Button {
	-fx-background-color: false;
	-fx-text-fill:white;
}

.GridPane{
	-fx-background-radius:15;
	-fx-background-color:#2EC4B6;
}
	