
.root{
    -fx-background-color: #E8EEF1;
}

.GridPane{
    -fx-background-color:#f6f5f5;
    -fx-effect: dropshadow( gaussian , #babfc2, 25 , 0, 0, 0 );
    -fx-background-radius: 15;
}

.Button{
	-fx-background-color:  #50b7f3;
	-fx-background-radius: 15;
    -fx-text-fill: white;
}
/*
.Button:hover{
    -fx-background-radius: 15;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #43B0F1 0%, #057DCD 100%), #1E3D58, #057DCD, radial-gradient(center 50% 50%, radius 100%, #43B0F1, #057DCD);
}

*/