.GridPane {
    -fx-background-color:#ffffff;
    -fx-effect: dropshadow(gaussian , #d5d5d5, 25, 0, 0, 0 );
    -fx-background-radius:15;
}

.Label {
	-fx-text-fill: #8b969d;
}

.TextField {
	-fx-background-radius:15;
	-fx-background-color:#f6f5f5;
}

.LoginButton {
	-fx-background-color:  #50b7f3;
	-fx-effect: dropshadow(gaussian , #acaaaa, 25, 0, 0, 0 );
	-fx-background-radius: 15;
}

.EKTLoginBtn {
	-fx-background-color:  #3091c9;
	-fx-effect: dropshadow(gaussian , #acaaaa, 25, 0, 0, 0 );
	-fx-background-radius: 15;
}

